

.letter{
    width: 105px;
    height: 300px;
    display: inline-block;
    margin: 8px 0;
    /* background-color:royalblue; */
    position: relative;
}


/* ------------------------ LETTER A */
.letter-a #a-arch {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    background-color: black;
    border-radius: 20px 20px 0 0 ;
} 
.letter-a #a-space {
    position: absolute;
    width: 5px;
    height: 290px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-a #a-leg-left{
    position: absolute;
    width: 45;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}
.letter-a #a-leg-right{
    position: absolute;
    width: 45;
    height: 30;
    bottom: 0;
    left: 50;
    background-color: black;
}

.letter-a #a-crossbar { 
    position: absolute;
    width: 40;
    height: 40;
    top: 110;
    left: 40;
    background-color: black;
} 


/*------------------------ LETTER B NO.3 */

.letter-b #b-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-b #b-bowl-top {
    position: absolute;
    width:80;
    height: 133;
    left: 7.5;
    background-color: black;
    border-radius: 20px;
}
.letter-b #b-bowl-bottom {
    position: absolute;
    width:80;
    height: 170;
    left: 7.5;
    bottom:0;
    background-color: black;
    border-radius: 20px;
}
.letter-b #b-counter-top {
    position: absolute;
    width: 5px;
    height: 80px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-b #b-counter-bottom {
    position: absolute;
    width: 5px;
    height: 120px;
    left: 45;
    bottom: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-b #b-serif-bottom {
    position: absolute;
    width: 37.5;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}
.letter-b #b-serif-top {
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}

/*------------------------ LETTER C */
.letter-c {
    width: 90px;
}
.letter-c #c-curve {
    position: absolute;
    width: 80px;
    height: 300px;
    border-radius: 20px;
    background-color: black;
}
.letter-c #c-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 37.5px;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-c #c-counter-space {
    position: absolute;
    width: 45;
    height: 5;
    top: 130;
    left: 39;
    background-color: white;
    border-radius: 1.5px;
}

/* ------------------------ LETTER D */
.letter-d {
    width: 100px;
}
.letter-d #d-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-d #d-serif-top { 
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-d #d-serif-bottom {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}
.letter-d #d-bowl { 
    position: absolute;
    width: 80px;
    height: 300px;
    left:7.5;
    border-radius: 20px;
    background-color: black;
}
.letter-d #d-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}

/* LETTER E */
.letter-e {
    width: 97px;
}
.letter-e #e-serif-top {
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}

.letter-e #e-serif-bottom {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}

.letter-e #e-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-e #e-arm { 
    position: absolute;
    width: 40px;
    height: 47.5;
    left: 47.5;
    top: 110;
    background-color: white;
}
.letter-e #e-curve {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    border-radius: 20px;
    background-color: black;
}

.letter-e #e-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-e #e-bar {
    position: absolute;
    width: 80px;
    height: 37.5;
    top: 115;
    left: 7.5;
    background-color: black;
}

/* LETTER F */
.letter-f {
    width: 100px;
}
.letter-f #f-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-f #f-top {
    position: absolute;
    width: 80px;
    height: 105px;
    left: 7.5;
    border-radius: 0 20px 0 0;
    background-color: black;
}
.letter-f #f-bar {
    position: absolute;
    width: 80px;
    height: 37.5;
    top: 110;
    left: 7.5;
    background-color: black;
}
.letter-f #f-counter {
    position: absolute;
    width: 5px;
    height: 76px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px 1.5px 0 0;
}
.letter-f #f-stand {
    position: absolute;
    width: 53.5px;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}

/* LETTER G */
.letter-g {
    width: 95px;
}
.letter-g #g-curve {
    position: absolute;
    width: 80px;
    height: 300px;
    border-radius: 20px;
    background-color: black;
}

.letter-g #g-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 37.5px;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-g #g-space {
    position: absolute;
    width: 45;
    height: 5;
    top: 130;
    left: 39;
    background-color: white;
    border-radius: 1.5px;
}
.letter-g #g-bar {
    position: absolute;
    width: 7.5px;
    height: 30;
    top: 135;
    left: 80;
    background-color: black;
}

/* LETTER G NO.2 */
.letter-g-2 #g-curve {
    position: absolute;
    width: 80px;
    height: 300px;
    border-radius: 20px;
    background-color: black;
}

.letter-g-2 #g-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 37.5px;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-g-2 #g-space {
    position: absolute;
    width: 40px;
    height: 5px;
    left: 40;
    top: 80;
    background-color: white;
}
.letter-g-2 #g-bar {
    position: absolute;
    width: 7.5px;
    height: 30;
    top: 85;
    left: 80;
    background-color: black;
}

/* LETTER H */

.letter-h #h-shape {
    position: absolute;
    width: 80px;
    left:7.5;
    height: 300px;
    background-color: black;
}
.letter-h #h-space {
    position: absolute;
    width: 5px;
    height: 300px;
    left: 45;
    background-color: white;

}
.letter-h #h-bar {
    position: absolute;
    width: 40;
    height: 40;
    top: 110;
    left: 40;
    background-color: black;
}
.letter-h #h-serif {
    position: absolute;
    width: 7.5px;
    height: 30;
    background-color: black;
}
.letter-h .serif-1 {
    top:0;
    left: 0;
}
.letter-h .serif-2 {
    top:0;
    left: 87.5;
}
.letter-h .serif-3 {
    bottom:0;
    left: 0;
}
.letter-h .serif-4 {
    left: 87.5;
    bottom: 0 ;
}

/* LETTER I */
.letter-i { 
    width: 70px;
}
.letter-i #i-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-i #i-serif {
    position: absolute;
    width: 53.5px;
    height: 30;
    left: 0;
    background-color: black;
}
#i-serif.top {
    top:0;
}
#i-serif.bottom {
    bottom:0;
}

/* LETTER I 2 */
.letter-i-2 #i-stem {
    position: absolute;
    width: 80px;
    height: 160px;
    left: 7.5;
    bottom:0;
    border-radius: 0 0 20px 20px;
    background-color: black;
}
.letter-i-2 #i-cut {
    position: absolute;
    width: 40px;
    height: 87.5;
    left:47.5;
    top: 140;
    background-color: white;
}
.letter-i-2 #i-space-out {
    position: absolute;
    width: 5px;
    height: 122.5px;
    bottom: 37.5px;
    left: 45px;
    border-radius: 0 0 1.5px 1.5px;
    background-color: white;
}

.letter-i-2 #i-point {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 3.5;
    top:87.5;
    border-radius: 50%;
    background-color: black;
}

/* LETTER J */
.letter-j {
    width: 90px;
}
.letter-j #j-body {
    position: absolute;
    width: 42.5px;
    height: 300px;
    left: 37.5;
    bottom:0;
    border-radius: 0 0 20px 0;
    background-color: black;
}
.letter-j #j-curve {
    position: absolute;
    width: 37.5px;
    height: 165px;
    left: 0;
    bottom:0;
    border-radius: 0 0 0 20px ;
    background-color: black;
}
.letter-j #j-space {
    position: absolute;
    width: 5px;
    height: 262.5px;
    bottom: 37.5px;
    left: 37.5px;
    border-radius: 0 0 1.5px 1.5px;
    background-color: white;
}
.letter-j #j-bar {
    position: absolute;
    width: 80px;
    height: 37.5;
    top:0;
    left: 0;
    background-color: black;
}

/* LETTER K */ 

.letter-k #k-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-k #k-top {
    position: absolute;
    width:80;
    height: 133;
    left: 7.5;
    background-color: black;
    border-radius:0 0 20px 0;

}
.letter-k #k-bottom {
    position: absolute;
    width:80;
    height: 170;
    left: 7.5;
    bottom:0;
    background-color: black;
    border-radius: 0 20px 0 0;
}
.letter-k #k-space-top {
    position: absolute;
    width: 5px;
    height: 117.5px;
    left: 45;
    top: 0;
    background-color: white;
    border-radius:0 0 1.5px 1.5px;
}

.letter-k #k-space-bottom {
    position: absolute;
    width: 5px;
    height: 157.5px;
    left: 45;
    bottom: 0;
    background-color: white;
    border-radius: 1.5px;
}

.letter-k #serifs {
    position: absolute;
    width: 7.5px;
    height: 30;
    background-color: black;
}
.letter-k .serif-1 {
    top:0;
    left: 0;
}
.letter-k .serif-2 {
    top:0;
    left: 87.5;
}
.letter-k .serif-3 {
    bottom:0;
    left: 0;
}
.letter-k .serif-4 {
    left: 87.5;
    bottom: 0 ;
}

/* LETTER L */ 
.letter-l { 
    width: 95px;
}
.letter-l #l-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-l #l-top{
    position: absolute;
    width: 53.5px;
    height: 30;
    left: 0;
    top: 0;
    background-color: black;
}
.letter-l #l-serif {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom: 0;
    left: 0;
    background-color: black;
}
.letter-l #l-stand {
    position: absolute;
    width: 42.5px;
    height: 80px;
    bottom: 0;
    left: 45;
    border-radius: 0 0 20px 0;
    background-color: black;
}

.letter-l #l-space {
    position: absolute;
    width: 5px;
    height: 50px;
    left: 45px;
    bottom: 30px;
    background-color: white;
    border-radius: 0 0 1.5px 1.5px;
} 
/* LETTER M */
.letter-m {
    width: 145px;
}
.letter-m #m-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-m #leg-1 {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    border-radius: 0 40px 0 0;
    background-color: black;
}
.letter-m #leg-2 {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 50;
    border-radius: 40px 20px 0 0;
    background-color: black;
}
.letter-m #serif-top {
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-m #serif-bottom {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}
.letter-m #counter-1 {
    position: absolute;
    width: 5px;
    height: 270px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px 1.5px 0 0;
}
.letter-m #counter-2 {
    position: absolute;
    width: 5px;
    height: 270px;
    left: 87.50;
    top: 30;
    background-color: white;
    border-radius: 1.5px 1.5px 0 0;
}
.letter-m #serif-right {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 130;
    background-color: black;
}


/* LETTER N */
.letter-n {
    width: 97px;
}
.letter-n #n-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-n #leg {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    border-radius: 0 20px 0 0;
    background-color: black;
}

.letter-n #serif-top {
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-n #serif-bottom {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 0;
    background-color: black;
}
.letter-n #counter-1 {
    position: absolute;
    width: 5px;
    height: 270px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px 1.5px 0 0;
}

.letter-n #serif-right {
    position: absolute;
    width: 7.5px;
    height: 30;
    bottom:0;
    left: 87.5;
    background-color: black;
}
/* LETTER O */
.letter-o {
    width: 100px;
}
.letter-o #o-curve {
    position: absolute;
 
    width: 80px;
    height: 300px;
    left: 7.5;
    border-radius: 20px;
    background-color: black;
}
.letter-o #o-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}

/* LETTER P */
.letter-p {
    width: 90px;
}
.letter-p #p-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-p #p-serif-top { 
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-p #p-serif-bottom {
    position: absolute;
    width: 53.5px;
    height: 30;
    left: 0;
    bottom:0;
    background-color: black;
}
.letter-p #p-bowl { 
    position: absolute;
    width: 80px;
    height: 170px;
    left:7.5;
    border-radius: 20px;
    background-color: black;
}
.letter-p #p-counter {
    position: absolute;
    width: 5px;
    height: 115px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}

/* LETTER Q */
.letter-q {
    width: 110px;
}
.letter-q #q-curve {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    border-radius: 20px 20px 0 20px;
    background-color: black;
}
.letter-q #q-counter {
    position: absolute;
    width: 5px;
    height: 240px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}
.letter-q #q-stem {
    position: absolute;
    width: 30px;
    height: 37.5px;
    bottom: 0;
    left: 80;
    border-radius: 0;
    background-color: black;
}

/* LETTER R */
.letter-r #r-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 7.5;
    background-color: black;
}
.letter-r #r-top {
    position: absolute;
    width:80;
    height: 133;
    left: 7.5;
    background-color: black;
    border-radius:0 20px 20px 0;

}
.letter-r #r-bottom {
    position: absolute;
    width:80;
    height: 170;
    left: 7.5;
    bottom:0;
    background-color: black;
    border-radius: 0 20px 0 0;
}
.letter-r #r-space-top {
    position: absolute;
    width: 5px;
    height: 80px;
    left: 45;
    top: 30;
    background-color: white;
    border-radius: 1.5px;
}

.letter-r #r-space-bottom {
    position: absolute;
    width: 5px;
    height: 157.5px;
    left: 45;
    bottom: 0;
    background-color: white;
    border-radius: 1.5px;
}

.letter-r #serifs {
    position: absolute;
    width: 7.5px;
    height: 30;
    background-color: black;
}
.letter-r .serif-1 {
    top:0;
    left: 0;
}
.letter-r .serif-3 {
    bottom:0;
    left: 0;
}
.letter-r .serif-4 {
    left: 87.5;
    bottom: 0 ;
}

/* LETTER S */
.letter-s {
    width: 87px;
}
#s-spine-top {
    position: absolute;
    width: 80px;
    height: 37.5px;
    background-color: black;
    left: 0px;
    top: 0;
    border-radius: 20px 20px 0 0;
}
#s-spine-middle {
    position: absolute;
    width: 80px;
    height: 37.5px;
    background-color: black;
    left: 0px;
    top: 110px !important;
    border-radius:0 20px 0 20px;
}
#s-spine-bottom {
    position: absolute;
    width: 80px;
    height: 37.5px;
    background-color: black;
    left: 0px;
    bottom: 0px !important;
    border-radius:0 0 20px 20px ;
}
#s-connector-1 {
    position: absolute;
    width: 37.5px;
    height: 72.5px;
    top: 37.5px;
    left:0px;
    background-color: black;
}
#s-connector-2 {
    position: absolute;
    width: 37.5px;
    height: 115px;
    background-color: black;
    left: 42.5px;
    bottom: 37.5px;
}
.letter-s .s-serif {
    position: absolute;
    width: 37.5px;
    height: 67.5px;

    background-color: black;
}
.letter-s #top {
    top: 37.5px;
    left: 42.5px;
}
.letter-s #bottom {
    height: 110px !important;
    bottom: 37.5px;
    left: 0px;
}

/* LETTER T */ 

.letter-t #t-stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 21.25;
    background-color: black;
} 
.letter-t #t-bar{
    position: absolute;
    width:80px;
    height: 37.5px;
    left: 0px;
    top: 0;
    background-color: black;
}
.letter-t #t-serif {
    position: absolute;
    width: 53.5px;
    height: 30px;
    left: 21.25px;
    bottom: 0;
    background-color: black;
}

/* LETTER U */
.letter-u #u-arch {
    position: absolute;
    width: 80px;
    height: 300px;
    left: 7.5;
    background-color: black;
    border-radius:0 0 20px 20px;
} 
.letter-u #u-space {
    position: absolute;
    width: 5px;
    height: 270px;
    left: 45;
    top: 0;
    background-color: white;
    border-radius:0 0 1.5px 1.5px;
}
.letter-u #u-top-left{
    position: absolute;
    width: 45;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-u #u-top-right{
    position: absolute;
    width: 45;
    height: 30;
    top: 0;
    left: 50;
    background-color: black;
}

/* LETTER V */
.letter-v {
    width: 140px !important;
}
.letter-v #left-stroke {
    position: absolute;
    width: 37.5;
    height: 270;
    left: 19;
    bottom: 0;
    background-color: black;
    transform: skew(5deg);
    border-radius: 0 0 0 18px;
}

.letter-v #left-serif{
    position: absolute;
    width: 52.5;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-v #right-stroke{
    position: absolute;
    width: 37.5;
    height: 270;
    left: 70.5;
    bottom: 0;
    background-color: black;
    transform: skew(-5deg);
    border-radius: 0 0 18px 0;

}
.letter-v #right-serif{
    position: absolute;
    width: 52.5;
    height: 30;
    top: 0;
    left: 74.25;
    background-color: black;
}

/* LETTER W */
.letter-w {
    width: 220px !important;
}
.letter-w #left-stroke {
    position: absolute;
    width: 37.5;
    height: 270;
    left: 19;
    bottom: 0;
    background-color: black;
    transform: skew(5deg);
    border-radius: 0 0 0 20px;
}

.letter-w #left-mid-stroke{
    position: absolute;
    width: 37.5;
    height: 270;
    left: 69.5;
    bottom: 0;
    background-color: black;
    transform: skew(-6deg);
    border-radius: 0 0 20px 0;
}
.letter-w #right-mid-stroke {
    position: absolute;
    width: 37.5;
    height: 270;
    left: 110;
    bottom: 0;
    background-color: black;
    transform: skew(6deg);
    border-radius: 0 0 0 20px;
}
.letter-w #right-stroke{
    position: absolute;
    width: 37.5;
    height: 270;
    left: 159.5;
    bottom: 0;
    background-color: black;
    transform: skew(-5deg);
    border-radius: 0 0 20px 0;
}

.letter-w #left-serif{
    position: absolute;
    width: 52.5;
    height: 30;
    top: 0;
    left: 0;
    background-color: black;
}
.letter-w #mid-serif {
    position: absolute;
    width: 66.5px;
    height: 30px;
    top: 0;
    left: 75px;
    background-color: black;
}
.letter-w #right-serif{
    position: absolute;
    width: 52.5;
    height: 30;
    top: 0;
    left: 164.75px;
    background-color: black;
}
 /* LETTER X */
.letter-x {
    width: 145px !important;
}
.letter-x #leg-1{
    position: absolute;
    width: 37.5;
    height: 300;
    left: 50;
    background-color: black;
    transform: skew(-14.3deg);
}
.letter-x #leg-2 {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 50;
    background-color: black;
    transform: skew(14.3deg);
}


/* LETTER Y */
.letter-y {
    width: 100px !important;
}
.letter-y #stem {
    position: absolute;
    width: 37.5;
    height: 300;
    left: 50px;
    background-color: black;
}
.letter-y #serif-top { 
    position: absolute;
    width: 7.5px;
    height: 30;
    top:0;
    left: 0;
    background-color: black;
}
.letter-y #serif-bottom {
    position: absolute;
    width: 42.5px;
    height: 37.5;
    left: 7.5;
    bottom:0;
    border-radius:0 0 0 20px;
    background-color: black;
}
.letter-y #bowl { 
    position: absolute;
    width: 80px;
    height: 180px;
    left: 7.5px;
    border-radius:0 0 0 20px;
    background-color: black;
}
.letter-y #counter {
    position: absolute;
    width: 5px;
    height: 140px;
    left: 45;
    top: 0;
    background-color: white;
    border-radius:0 0 1.5px 1.5px;
}
.letter-y #hook {
    position: absolute;
    width: 37.5px;
    height: 115px;
    left: 7.5px;
    bottom: 0px;
    border-radius:0 0 0 20px;
    background-color: black;
}
.letter-x .serifs {
    position: absolute;
    width: 45px;
    height: 30;
    background-color: black;
}
.letter-x #serif-1 {
    top:0;
    left: 0;
}
.letter-x #serif-2 {
    top:0;
    left: 92.5;
}
.letter-x #serif-3 {
    bottom:0;
    left: 0;
}
.letter-x #serif-4 {
    left: 92.5px;
    bottom: 0;
}

/* LETTER Z */
.letter-z #stroke{
    position: absolute;
    width: 40;
    height: 225;
    left: 28.70;
    bottom: 37.5;
    background-color: black;
    transform: skew(-14.3deg);
}
.letter-z #z-top{
    position: absolute;
    width: 97.25px;
    height: 37.5px;
    left: 0px;
    top: 0;
    border-radius: 20px 0 0px 0;
    background-color: black;
}
.letter-z #z-bottom{
    position: absolute;
    width: 100px;
    height: 37.5px;
    left: 0px;
    bottom: 0;
    border-radius: 0 0 20px 0;
    background-color: black;
}
.letter-z #z-serif-bottom {
    position: absolute;
    width: 37.5px;
    height: 23.25px;
    bottom: 37.5px;
    left: 62.5px;
    background-color: black;
}
.letter-z #z-serif-top {
    position: absolute;
    width: 37.5px;
    height: 23.25px;
    top: 37.5px;
    left: 0px;
    background-color: black;
}













/* LETTER A NO.1 */
/* .letter-a #a-left-stroke {
    position: absolute;
    left:30;
    top:30;
    width: 10;
    height: 250;
    background: black;
    transform: skew(-18deg);
    border-radius: 0px 60px 0 0;
}

.letter-a #a-right-stroke{
    position: absolute;
    left:112;
    top:30;
    width: 50;
    height: 240;
    background: black;
    transform: skew(18deg);
    border-radius: 0px 60px;
}

.letter-a #a-cross-bar{
    position:absolute;
    width: 100;
    height: 10;
    left: 33;
    top: 150;

    background:black;
} */

/* LETTER A NO.2 */
/* .letter-a-2 #a-top {
    position: absolute;
    width: 150;
    left: 15;
    top: 20;
    height: 100;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
    border: 10px solid black;
} */

/* .letter-a-2 #a-left-stroke{
    position: absolute;
    width: 10;
    height: 130;
    background-color: black;
    left: 15;
    top: 140;
    border-radius: 0 0 5px 5px;
}
.letter-a-2 #a-right-stroke{
    position: absolute;
    width: 10;
    height: 130;
    background-color: black;
    right: 15;
    top: 140;
    border-radius: 0 0 5px 5px;
} */

/* LETTER I NO.1 */

/* .letter-i #i-body {
    position: absolute;
    width: 10;
    height: 150;
    left: 95;
    top: 120;
    background-color: black;
    border-radius: 5px;
}
.letter-i #i-dot {
    position: absolute;
    width: 20;
    height: 20;
    left: 95;
    top: 75;
    border: 10px solid black;
    border-radius: 50%;
} */
