body { 
    height: 400vh;
    width: 850;
    margin: 0;
    background-color :mediumblue;
}
.letter {
    margin:0;
}
#landing-page {
    width: 92vw ;
    padding: 4em;
    height: 84vh;
    display:flex;
}
#class-title {
    width: 100%;
    float: left;
}
.landing-title-1 >.letter-r {
    width: 6em;
}
.landing-title-1 > #e-2 {
    width: 5.5em; 
}

.landing-title-1 >.letter-a {
    width: 6em;
}
.landing-title-1 >.letter-e {
    width: 6em;
}
.landing-title-1 >.letter-s {
    width: 5.2em;
}
.landing-title-1 >.letter-c {
    width: 5.2em; 

}
.letter-m {
    width: 8.4em;
}
.landing-title-2 > .letter-e {
    width: 5.5em;
}
.landing-title-2 > .letter-h { 
    width: 5.7em;
}
.landing-title-2 > .letter-o {
    width: 5.7em;
}
.landing-title-2 > .letter-d {
    width: 5.7em;
}
.letter-t {
    width: 4.25em;
}

.text-container {
    width: 150;
    vertical-align: top;
}
.text-container > p  {
    margin: 0;
    padding-top:5px;
    font-family: 'Archivo', sans-serif; 
    font-weight: 741;
    font-variation-settings: 'wdth' 70;
    font-size: 3em;
    line-height: 0.9; 
    color: white;
}
.event-title { 
    width: 45%;
    position:relative;
}
#event-container {
    margin: 0;
    width: 100%;
    height: auto;
    top: 308;
    position: relative;
}
#event-container > h2 {
    margin: 0;
    display:block;
    font-family: 'Archivo', sans-serif; 
    font-size: 3rem;
    font-weight: 741;
    font-variation-settings: 'wdth' 70;
    text-align: center;
    line-height: 0.9; 
    color: white;
}
#school-container {
    width: 10em;
    height: 4OCADem;
    top: 308;
    margin: 1em auto;
    position: relative;
    border: 5px solid white;
    border-radius: 40px;

    text-align: center;
    color: white;
    z-index: 1;
}
#school-container > p {
    padding: 10px;
    margin: 0;
    font-family: 'Archivo', sans-serif; 
    font-size: 1.1em;
    font-weight: 741;
    line-height: 1; 
}

.information-page { 
    height: 300vh;
    width: 100vw;
    position: relative;
}



/* .positive {
    background-color: white !important;
}

.negative { 
    background-color :mediumblue ; */

/* } */