* {
    margin:0;
    padding:0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');


.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #f3f3f3;

}

section {
    margin: 0;
    width: 100%;
    height: calc(100vh - 3em);
    padding: 3em 3em 0 3em;
    overflow-y: scroll;
    overflow-x: hidden ;
}

/* INDEX */
.left-index {
    background-image: url("../media/bg-gradient/4.png");
    background-repeat:no-repeat;
    background-position:left top;
    background-size:100% 100%;
    /* background: linear-gradient(180deg, #F8F4EF 0%, rgba(223, 116, 39, 0.45) 100%); */
}

.left-container {
    margin: 0 auto;
    max-width: 700;
    transform: translateX(-2em);

}

.title {
    position:relative;
    top: 0em;
    min-height: 5em;
    min-width: 5em;
    display:block;
    /* background-color: aqua; */
}
.title h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3.5em;
    padding: 0.5em 0;
    letter-spacing: -1;
    word-spacing: -10;
    font-weight: 600;

}

.tag-content {
    margin: 2em 0;
    display: none;
}

.navigation-tags {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.tag-button {
    max-width: 100%;
    min-width: auto;
    height: auto;
    background: transparent; /* Green */
    color: black;
    padding: 0.8em 1em;
    border: 1.9px solid #000000;
    border-radius: 18px;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2), 0 5px 16px 0 rgba(0,0,0,0.19);    

    font-family: 'IBM Plex Mono', monospace;    
    font-size: 1.0em;
    letter-spacing: -0.5;
    word-spacing: -0.75 ;
    margin: 5px 4px;

    flex-grow: 1;

    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

    cursor: pointer;

}

.tag-button:hover {
    background-color: black;
    color: white;
    /* box-shadow: inset 400px 0 0 0 #D80286; */

}

.extra-bt {
    border: 1.7px dashed #000000;

}

p {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    line-height: 1.5;
    margin-top: 2em;
}

/* SUBTAG CONTENT */
.tag-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.subtag {
    width: 90%;
    position: relative;    
    padding: 0.8em 1.5em; 
    margin:1em 0.5em 0.5em 0em ;
    border: 2px solid black;
    border-radius: 15px;

    font-family: 'IBM Plex Mono', monospace;    
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    white-space: nowrap;

    overflow-x: hidden;

    cursor: pointer;
}

.subtag:hover {
    background-color: black; /* Green */
    color: white;
}

.subtag:hover p{
    transform: translateX(-100%);
}



/* CONTENT */
.right-content {
    display: none;
    background-color: #f3f3f3;
}

.right-content h3{ 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.2em;
    line-height: 1.1;
    padding-top: 1.4em;
    letter-spacing: -1;
    word-spacing: -5;
    font-weight: 600;
}

.wisdom {
    margin: 0 1.5em;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
    line-height: 1.3;
    text-align:left;
    letter-spacing: -1;
    word-spacing: -5;
    color:rgba(214,214,206);
}

.article-text { 
    margin: 0 auto;
    max-width: 700;
    display:none;
    transform: translateX(-2 em);

}

right-content p {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    line-height: 1.5;
    margin-top: 2em;
}

right-content .sub-heading {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 2em;
}

#fiy-text {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    padding: 0.5em 1.5em;
}
br { 
    line-height: 150%;
}

#handle {
    display: none;
    width: 25px;
    height: 25px;
    position: fixed;
    left: calc(50vw - 12.5px);
    top: calc(50vh - 12.5px);
    border-width: 1.5px;
    border-style: solid;
    background-color:black;
    cursor: grab;
}

.back-button {
    margin-top: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3em;
    display: block;
    transform :translateY(0.5em);
}

a:link { 
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color: black;
  }
a:hover {
text-decoration: none;
color: white;
}