

body {
    margin: 0;
    background: black;
    /* background-image: url("../media/bg-gradient/1.png"); */
    /* background-repeat:no-repeat;
    background-position:left top;
    background-size:100% 100%; */
    /* background: linear-gradient(180deg, rgba(36, 54, 120, 0) 0%, rgba(36, 54, 120, 0.8) 100%);    flex-direction: column; */
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:ital@0;1&display=swap');

.content-container {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    top: 25%;
    margin: 0 auto;
    max-height: 35em;
    overflow-y: scroll;


}
.bg-container{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -5;
}


h1 { 
    margin: 1em 0em 0 0;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 6em;
    padding: 0.5em 0 0 0;
    text-align:center;
    letter-spacing: -1.5;

}
#introduction {
    text-align:center;

    margin:0 auto;
    padding: 0 3.5em;
}
.description { 
    
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align:center;
    margin: 1em auto 0 auto;
    max-width: 650px;

}

.door-row {
    display: flex;
    flex-flow: row wrap;
    margin-top: 3em;
    justify-content: center;

}

.door { 
    width: auto;
    margin: 2em 0.5em ;
    padding: 0.6em 1em; 
    border: 1.5px solid white;
    border-radius: 1em;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2), 0 5px 16px 0 rgba(0,0,0,0.19);    

    white-space: nowrap;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    line-height: 3.6;
    overflow-x: hidden;
}


a:link { 
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color: white;
  }



.door:hover { 
    background-color: rgb(238, 111, 20);
}



a:hover {
    text-decoration: none;
    color: white;
  }

  a:active {
    text-decoration: none;
    color: white;
  }

  