* {
    margin:0;
    padding:0;
    
}

html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&family=IBM+Plex+Mono:wght@400;500;600&family=IBM+Plex+Sans:ital@0;1&display=swap');


.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #f3f3f3;
    overflow-y:hidden;
}

section {
    margin:0 0 30 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

/* INDEX */
.left-index {
    background-image: url("../media/bg-gradient/1.png");
    background-repeat:no-repeat;
    background-position:left top;
    background-size:100% 100%;
    /* background: linear-gradient(180deg, rgba(36, 54, 120, 0) 0%, rgba(36, 54, 120, 0.8) 100%);    flex-direction: column; */
    overflow-x: hidden ;
    padding: 3em 3.5em;

}

.left-wrapper {
    margin: 0 auto;
    max-width: 750px;
    min-width: 250px;
    transform: translateX(-2em);
}


.title {
    position:relative;
    top: 0em;
    min-height: 5em;
    min-width: 5em;
    display:block;
    /* background-color: aqua; */
}
.title h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3.5em;
    padding: 0.5em 0;
    letter-spacing: -1;
    word-spacing: -10;
    font-weight: 600;
}

.index-tag-main {
    margin: 0 0 1.5em 0;
}

.index-tag {
    position: relative;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.3em;
    cursor: pointer;

}


.index-tag:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.index-tag:hover:before {
    visibility: visible;
    width: 100%;
  }



.tag-content {
    margin: 2em 0;
}

.keyword-tags-wrapper, .theme-tags-wrapper {
    display: none;
}

.navigation-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 13px; */
    flex-wrap: wrap;

}

.tag-button {
    width: auto;
    height: auto;
    background: transparent; /* Green */
    color: black;
    padding: 0.8em 1em;
    border: 1.9px solid #000000;
    border-radius: 18px;
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2), 0 5px 16px 0 rgba(0,0,0,0.19);    

    font-family: 'IBM Plex Mono', monospace;    
    font-size: 1.0em;
    letter-spacing: -0.5;
    word-spacing: -0.75 ;

    margin: 5px 4px;
}

.tag-button:hover {
    background-color: black; /* Green */
    color: white;
}

.extra-bt {
    border: 1.7px dashed #000000;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    line-height: 1.5;
    margin-top: 2em;
}

/* SUBTAG CONTENT */
.tag-content ul {
    list-style-type: none;
  }
.subtag {
    display: none;

    width: 85%;
    position: relative;    
    padding: 0.8em 1.5em; 
    margin:1em 0.5em 0.5em 0em ;
    border: 2px solid black;
    border-radius: 15px;

    font-family: 'IBM Plex Mono', monospace;    
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    white-space: nowrap;

    overflow-x: hidden;
}

.letter-index{
    display: none;
}


.subtag:hover {
    background-color: black; /* Green */
    color: white;
}

.letter-index:hover {
    
    pointer-events: none;
}

/* CONTENT */
.right-content {
    display:none;
    background-color: #f3f3f3;
}

.right-wrapper {
    position: relative;
    margin: 3em auto;
    max-width: 650px;
    min-width: 250px;
    transform: translateX(-2em);

}

.right-content h3{ 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
    line-height: 1.1;
    letter-spacing: -1;
    word-spacing: -5;
    font-weight: 600;
    
}

.right-content p {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    line-height: 1.5;
    margin-top: 2em;
}

.kw-tags { 
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    padding-left: 4em;

}

#fiy-text {
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 1em;
    font-style: italic;
    line-height: 1.5;
    padding: 0.5em 1.5em;
}
br { 
    line-height: 150%;
}

.question-text {
    padding-top: 4em;
}

#handle {
    display: none;
    width: 25px;
    height: 25px;
    position: fixed;
    left: calc(50vw - 12.5px);
    top: calc(50vh - 12.5px);
    border-width: 1.5px;
    border-style: solid;
    background-color:black;
    cursor: grab;
}

.back-button {
    margin-top: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 3em;
    display: block;
    transform :translateY(0.5em);
}

a:link { 
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color: black;
  }
a:hover {
    text-decoration: none;
    color: white;
}